# Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# Sistema / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
